<!DOCTYPE html>
<html>  
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
</head>
<style>
  body {
    background: #e7ecee;
  }
</style>
<body>
  <div class="sidenav">
  <a href="../templates/index.html">Menü</a>
  <a href="../templates/about.html">Hakkında</a>
  <a href="../templates/contact.html">İletişim</a>
  <a href="../templates/Weather.html">Hava Durumu</a>
</div>
  <h1 align="middle">BİLGİ YARIŞMASI</h1>
  <div style="display: flex; justify-content: center;">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf06QVsTxP4YaRQWHNchY1s3JvODEJ4M2t9gG2fN5RqUgf4Ig/viewform?embedded=true" width="640" height="3875" frameborder="0" marginheight="0" marginwidth="0">Yükleniyor…</iframe>
  </div>
</body>
</html>