<!DOCTYPE html>
<html>  
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="sidenav">
  <a href="../templates/index.html">Menü</a>
  <a href="../templates/about.html">Hakkında</a>
  <a href="../templates/contact.html">İletişim</a>
</div>
  <h1 align="middle">BİLGİ YARIŞMASI</h1>
  <div style="display: flex; justify-content: center;">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfwb_gwS1Oj-KFQrQv1YvUNa8djyUAGEu0GUgz5nLOL-a-qeQ/viewform?embedded=true" width="640" height="3939" frameborder="0" marginheight="0" marginwidth="0">Yükleniyor…</iframe>
  </div>
</body>
</html>