<!DOCTYPE html>
<html>  
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <div class="sidenav">
  <a href="../templates/index.html">Menü</a>
  <a href="../templates/about.html">Hakkında</a>
  <a href="../templates/contact.html">İletişim</a>
  <a href="../templates/Weather.html">Hava Durumu</a>
</div>
  <div class="main">
    <h1 align="middle">MUHTEŞEM BİLGİ YARIŞMASI</h1> 
  <div class="button">
    <a href="../templates/airpollution.html">
    <img src="../static/wind-turbine.svg", width=200 , height=240>
    <br>
    Hava Kirliliği</a>
  </div>
  <div class="button button1">
    <a href="../templates/earthpollution.html">
    <img src="../static/plant-development.svg", width=200 , height=240>
    <br>
    Toprak Kirliliği</a>
  </div>
  <div class="button button2">
    <a href="../templates/climatechange.html">
    <img src="../static/thermometer.svg", width=200 , height=240>
    <br>
    Kür. Isınma</a>
  </div>
  <div class="button button3">
    <a href="../templates/waterpollution.html">
    <img src="../static/water-drop.svg", width=200 , height=240>
    <br>
    Su Kirliliği</a>
  </div>
  <div class="button button4">
    <a href="../templates/acidrain.html">
    <img src="../static/cloud-co2.svg", width=200 , height=240>
    <br>
    Asit Yağmuru</a>
  </div>
    <div class="button button5">
    <a href="../templates/renewenergy.html">
    <img src="../static/solar-panel.svg", width=200 , height=240>
    <br>
    Yen. Enerji</a>
  </div>
  <br>
  <br>
  <br>
  <br>
 <div class="button">
    <a href="../templates/airpollution2.html">
    <img src="../static/wind-turbine.svg", width=200 , height=240>
    <br>
    Hava Kirliliği
  <br>
    ZOR</a>
  </div>
  <div class="button button1">
    <a href="../templates/earthpollution2.html">
    <img src="../static/plant-development.svg", width=200 , height=240>
    <br>
    Toprak Kirliliği
  <br>
    ZOR</a>
  </div>
  <div class="button button2">
    <a href="../templates/climatechange2.html">
    <img src="../static/thermometer.svg", width=200 , height=240>
    <br>
    Kür. Isınma
  <br>
    ZOR</a>
  </div>
  <div class="button button3">
    <a href="../templates/waterpollution2.html">
    <img src="../static/water-drop.svg", width=200 , height=240>
    <br>
    Su Kirliliği
  <br>
    ZOR</a>
  </div>
  <div class="button button4">
    <a href="../templates/acidrain2.html">
    <img src="../static/cloud-co2.svg", width=200 , height=240>
    <br>
    Asit Yağmuru
  <br>
    ZOR</a>
  </div>
    <div class="button button5">
    <a href="../templates/renewenergy2.html">
    <img src="../static/solar-panel.svg", width=200 , height=240>
    <br>
    Yen. Enerji
    <br>
    ZOR</a>
  </div>
  <hr>
  <p align="middle">Verinizi Çalıyoruz Ltd. Şti. Tüm hakları saklıdır. 1942-2025</p>
</body>
</html>